:root{
  --main-color: rgb(6, 12, 32);
  --main-soft-color: #141A32;
  --banner-color: rgba(0, 0, 0, .0);
  --btn-color: rgb(0, 98, 204);
  --shadow: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  --text-color: rgb(232, 230, 227);
  --soft-color: rgb(143, 167, 189);
  --highlight-color: rgb(190, 146, 7);
  --border-color: #080F28;
  --transparent-background: rgba(0, 0, 0, 0.3);
}
*{
  box-sizing: border-box;
  font-family: 'Roboto','Oxygen', sans-serif;
  margin: 0 0 0 0;
}
a{
  text-decoration: none;
}
/* BANNER */

#banner {
  background-image: var(--shadow);
  height: 85vh;
}
@media (max-width: 768px){
  #banner{ 
   height: 60vh;
 }
}
.banner-img{
  position: absolute;
  top: 0;
  left: 0;
  height: 85vh;
  width: 100%;
  z-index: -1;
}
@media (max-width: 768px){
  .banner-img{ 
   height: 60vh;
 }
}

/* HEADER */

 #header {
  background: var(--banner-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}
#logo {
  background: var(--banner-color);
  height: 100px;
  width: 100px;
}
@media (max-width: 768px){
  #logo{ 
    height: 50px;
    width: 50px;
  }
}
#header > nav {
  background: var(--banner-color);
  display: flex;
  flex-grow: 2;
}
.header-menu {
  background: var(--banner-color);
  display: flex;
  row-gap: 50px;
}
@media (max-width: 768px){
   .header-menu{ 
    display: none;
  }
}
.header-menu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  color: var(--text-color);
}
.header-menu li {
  width: 162px;
  text-decoration: none;
  list-style-type: none;
  position: relative;
  float: left;
}
.header-menu li:hover .sub-menu{
  display: block;
  background-color: var(--main-color);
  z-index: 1;
  padding: 10px;
}
.sub-menu{
  display: none;
  position: absolute;
  border-radius: 10px;
  overflow: scroll;
}
.sub-menu li:hover{
  background-color: var(--main-color);
  color: var(--btn-color);
}
.sub-menu a:hover{
  color: var(--btn-color);
}
.header-menu > li::after{
  content: "▼";
  color: var(--btn-color);
  font-size: 10px;
}
 .search-box{
  width: fit-content;
  height: fit-content;
  position: relative; 
}
@media (max-width: 768px){
  .search-box{ 
    display: none;
  }
}
.search-img{
  width: 25px;
  height: 25px;
  position: relative; 
  bottom: 7px;
}
.input-search{
  height: 30px;
  width: 25px;
  border-style: none;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 30px;
  transition: all .5s ease-in-out;
  background-color: var(--transparent-background);
  padding-right: 40px;
  color: var(--text-color);
}
.input-search::placeholder{
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: var(--text-color) ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.header-sec-menu{
  display: none;
}
@media (max-width: 768px){
  .header-sec-menu{ 
   display: block;
   width: 30px;
   height: 30px;
   cursor: pointer;
   background-color: transparent;
 }
}
.header-sec-menu > i {
  background-color: var(--text-color);
  width: 100%;
  height: 3px;
  margin: 4px 0;
  transition: all .2s ease-in;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

/* BANNER INFO */

.banner-movie {
  padding: 32px;
  color: var(--soft-color);
  max-width: 1140px;
  justify-content: center;
  position: relative;
  bottom: -120px;
}
@media (max-width: 768px){
  .banner-movie { 
    bottom: -90px;
  }
}
h1.title {
  font-size: 51px;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 10px;
}
@media (max-width: 768px){
  h1.title{ 
    font-size: 40px;
  }
}
.info{
  margin-bottom: 10px;
  padding: 5px;
}
.info > span{
  font-size: 15px;
  margin-right: 8px;
  color: var(--soft-color);
}
@media (max-width: 768px){
  .info > span{ 
    font-size: 10px;
  }
}
.info span:first-child {
 color: var(--highlight-color);
 font-size: 18px;
}
@media (max-width: 768px){
  .info span:first-child{ 
    font-size: 12px;
  }
}
.info span:last-child {
  color: var(--text-color);
  background-color: var(--highlight-color);
  border-radius: 15px;
  padding: 3px;
  font-size: 10.8px;
  font-weight: 700;
}
@media (max-width: 768px){
  .info span:last-child{ 
    font-size: 9px;
  }
}
.description {
  font-size: 20.8px;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 32px;
}
@media (max-width: 768px){
  .description{ 
    font-size: 15px;
  }
}
.button {
  color: var(--text-color);
  background-color: var(--btn-color);
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  max-width: 200PX;
  font-weight: 400;
}
@media (max-width: 768px){
  .button{ 
    font-size: 12px;
    padding: 7px;
  }
}
.button::before{
  content: "➤";
  margin-right: 11px;
}

/* MAIN */

#main{
  background-color:var(--main-color);
  display: flex;
}
@media (max-width: 1004px){
  #main{ 
    flex-direction: column;
    padding: 0 81px 0 81px;
  }
}
#home-movies{
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
}
.home-menu{
  display: flex;
  padding: 24px;
}
@media (max-width: 1004px){
  .home-menu{ 
    flex-direction: column;
  }
}
.home-menu > h2{
  color: var(--text-color);
  font-size: 32px;
  margin-right: 24px;
}
@media (max-width: 1004px){
  .home-menu > h2{ 
    margin-bottom: 10px;
  }
}
.home-menu div a{
  color: var(--soft-color);
  text-decoration: none;
  margin-right: 24px;
  padding: 8px;
  font-weight: 300;
}
.home-menu div a:hover{
  color: var(--text-color);
  border-bottom-color: var(--highlight-color);
  font-weight: 700; 
}
.m-list{
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}
.m-card{
  display: grid;
  padding: 5px;
  justify-content: center;
  width: 213px;
  height: 390px;
}
@media (max-width: 1004px){
  .m-card{
    width: 190px;
    height: 285px;
  }
}
.m-img{
width: 208px;
height: 312px;
border-radius: 5px;
}
@media (max-width: 1004px){
  .m-img{
    width: 153px;
    height: 219px;
  }
}
.m-title{
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#widget-area{
  display: flex;
  flex-direction: column;
}
.widget-area-img{
  width: 300px;
  height: 225px;
  padding: 13px;
}
.widget-title{
  color: var(--soft-color);
  font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: var(--main-soft-color);
  padding: 8px;
  border-radius: 3px;
}
.widget-card > li{
  padding: 3px;
  width: 30px;
  height: 30px;
  color: var(--text-color);
  background-color: var(--highlight-color);
  border: 2px solid var(--border-color);
  border-radius: 50px;
  font-weight: 700;
  list-style: none;
  position: absolute;
}
.widget-card{
  display: flex;
  padding: 10px;
}
.widget-card-info{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.w-img{
width: 80px;
height: 120px;
border-radius: 5px;
}
.w-title{
color: var(--text-color);
font-size: 16px;
margin-bottom: 10px;
}

/* FOOTER */

.footer-cont article{
  background: var(--main-color);
  display: flex;
  padding: 64px 25px;
  flex-direction: row;
}
.footer-rrss{
  display: flex;
  justify-content:end;
  flex-grow: 2;
  align-items: center;
}
.footer-rrss > li{
  list-style: none;
  padding: 10px;
}
.rrss-img{
  width: 30px;
  height: 30px;
}